<div class="jumbotron">
	<h2>Here's people living in Honest Town.</h2>
</div>

<% @people.each do |person| %>
<a class='container col-lg-3 col-md-4 col-sm-6' href="people/<%= person.id %>">
	<div class='well card'>
		<img src="<%= "#{person.img_url}" %>" class="profileimage"></img>
		<h2><%= person.name %></h2>
		<h4><%= person.location %></h4>
	</div>
</a>
<% end %>

<a class="container col-lg-3 col-md-4 col-sm-6" href="<%= new_person_path %>">
	<div class="well card">
			<i class="fa fa-plus fa-4x"></i>
			<h1>Add Someone</h1>
	</div> <!-- well sentence -->
</a> <!-- container -->