
<% @title = "What people really think of " + @person.name + ". HonestTown." %>


<div class="jumbotron text-center">
	<h1><strong><%=@person.name%></strong></h1><br>
	<h2></h2>
</div>

<div class="row">

	<%= render @person.sentences.not_expired.last(34).reverse %>


	<div class="container col-lg-3 col-md-4 col-sm-6">
		<div class="well card">
				<h1><div class="fa fa-plus"></div></h1>
				<h2>Leave honesty</h2>
					<%= form_for([@person, @person.sentences.build]) do |f| %>
						<%= f.select(:subject, $subject.shuffle, {}, {:class => "select-style form-control"}) %><br>
						<%= f.select(:verb, $verb.shuffle, {}, {:class => "select-style form-control"}) %><br>
						<%= f.select(:adjective, $adjective.shuffle, {}, {:class => "select-style form-control"}) %><br>
					   <%= f.submit "Leave honesty", class:"btn btn-primary btn-lg" %>
					<% end %>
		</div> <!-- well sentence -->
	</div> <!-- container -->



<div class="container col-lg-3 col-md-4 col-sm-6">
		<div class="well card">
				<h2>Share this page annonymously</h2>
					<small>
						<p>This card sends a tweet from <a href="http://www.twitter.com/honest_town">@honest_town</a> that says: <br>
						<strong>"Someone anonomously left you a reveiw. www.honest.town/userlink"</strong> to any user you enter.</p>
					</small>
						<%= form_for @tweet do |f| %>
							<%= f.text_field :username, class:'form-control input-sm', placeholder:'@anytwitteruser...' %> <br>
						   <%= f.submit "Send Tweet", class:"btn btn-primary btn-lg" %>
						   <%= hidden_field_tag('tweet[tweetcontent]', @person.slug) %> <br>
						<% end %>
		</div> <!-- well sentence -->
	</div> <!-- container -->







</div>


<div class="jumbotron text-center">
		<h2><a href="/"><strong>HonestTown.</strong></a></h2> 

			<h2><strong>Find someone. Leave some honesty.</strong></h2>
			<h3>It's completely anonymous, and posts disappear in 30 days.</h3

			<form>
			<form action="/results" class="form-group">
			<p>You may want to enter city to narrow things down.</p>
			<br>
			<input type="text" name="query" autocomplete="off" placeholder="Search..." class="form-control input-lg"></input>
			<br>
			<input type="submit" value="find 'em" class="btn btn-primary btn-lg" class="form-control"></input>
			</form>

</div>

<div class="text-center">
<br>
</div>