<% @title = "HonestTown. Say what you've always wanted to say." %>

<div class="jumbotron text-center">
		<h2>Welcome to <strong>HonestTown.</strong></h2>
		<h3>Say what you've always wanted to say.</h3>
</div>

<div class="jumbotron text-center" id="find">
	<h2><strong>Find someone. Leave some honesty.</strong></h2>
	<h3>It's completely anonymous, and posts disappear in 30 days.</h3

	<form>
	<form action="/results" class="form-group">
	<p>Tip: You may want to enter city to narrow things down.</p>
	<br>
	<input type="text" name="query" autocomplete="off" placeholder="Search..." class="form-control input-lg"></input>
	<br>
	<input type="submit" value="Find 'em" class="btn btn-primary btn-lg" class="form-control"></input>
	</form>
</div>

<div class="row well text-center hidden-xs">
	
	<h1>Some recent honesty.</h2><br>

	<% @sentences.each do |sentence|%>
		<div class="col-md-3 col-sm-6">
			<div class="well card small text-left">
					<strong>
						<h3>
							<%= link_to sentence.person.name.split.first.possessive, sentence.person %><br>
							<%= sentence.subject.capitalize %>
							<%= sentence.verb%>
							<%= sentence.adjective%>.
						</h3>
					</strong>
					<p class="cfooter">Expires in <%= sentence_expires_in(sentence.created_at) %> Days.</p>
			</div>
		</div>
	<% end %>

</div> 
