<div class="jumbotron text-center">
		<h1>Welcome to <strong>HonestTown.</strong></h1>
		<h2>Say what you've always wanted to say.</h2>
</div>

<div class="jumbotron text-center">
	<h2>Find someone. Leave some honesty.</h2>
	<h3>It's completely anonymous, and posts disappear in 30 days.</h3

	<form>
	<form action="/results" class="form-group">
	<p>Tip: You may want to enter city to narrow things down.</p>
	<br>
	<input type="text" name="query" autocomplete="off" placeholder="Search..." class="form-control"></input>
	<br>
	<input type="submit" value="Find 'em" class="btn btn-default" class="form-control"></input>
	</form>
</div>

<div class="row well text-center hidden-xs">
	
	<h1>Some recent honesty.</h2><br>

	<% @sentences.each do |sentence|%>
		<div class="col-md-3 col-sm-6">
			<div class="well card small">
					<strong>
						<h2>
							<%= link_to sentence.person.name.split.first.possessive, sentence.person %>
							<%= sentence.subject.capitalize %>
							<%= sentence.verb%>
							<%= sentence.adjective%>.
						</h2>
					</strong>
					<p>Expires in <%= sentence_expires_in(sentence.created_at) %> Days.</p>
			</div>
		</div>
	<% end %>

</div> 
